/.idea/
/node_modules/
/s3/
/pythonScripts/writeHtml/.idea/
/pythonScripts/writeHtml/.venv/

/websites/ggp-store.com/.env

**/dist/
/package-lock.json
/infra/scripts/writeHtml/.venv/*
/infra/scripts/writeHtml/.idea/*
/infra/scripts/writeHtml/.venv/*
