/.idea/
/node_modules/
/s3/

/package-lock.json
**/package-lock.json

**/dist/
**/.venv/
**/.idea/
**/.env
**/.env-development
**/.env-production
**/node_modules

**/.env-VITE_ENV-secret
/infra/keys/**
/infra/scripts/dig MX guidogerbpublishing.com.txt
